h1 {
  text-align: left;
  color: #000000;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.3em;
}

h2 {
  text-align: left;
  color: #000000;
  font-size: 20px;
  line-height: 1.3em;
}

p {
  text-align: left;
  color: #000000;
  font-size: 16px;
  line-height: 1.3em;
}
  
